@charset "utf-8";

div.sdmenu{
	width: 150px;
	margin: 0 auto;
	font-family: arial, sans-serif;
	font-size: 12px;
	padding-bottom: 10px;
	/*background: ;*/
	/*color: #fff;*/
}

div.sdmenu div{
	overflow: hidden;
	
}

div.sdmenu div:first-child{
	
}


div.sdmenu div.collapsed{
	height: 25px;
}

div.sdmenu div span{
	display: block;
	height: 15px;
	line-height: 15px;
	overflow: hidden;
	padding: 5px 25px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
	background-color: #636060;
}

div.sdmenu div a{
	display: block;
	color: #005b68;
}

div.sdmenu div a:hover{
	background-color: #005B68;
	color: white;
}
